#root {
  /* --primary: #32aecd;
  --secondary: #CD5132;
  --tertiary: #32CD9F; */
  --primary: #175556;
  --secondary: #173656;
  --tertiary: #32CD9F;
}
html, body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, div {
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}

.container-fluid{
  padding: 0;
  overflow-x: hidden;
}

.paper{
  border: solid 1px #b6b6b6;
  box-shadow: 0px 0px 5px rgba(100,100,100,0.5);
}

.main.paper.header {
  padding-left: 2vw;
  min-height: 82px;
  height: 10vh;
  width: 100%;
  z-index: 1;
  position: sticky;
  top: 0px;
  background: var(--primary);
}

.paper.header h1{
  padding: 2vh;
  color: #ffff;
}

@media(max-height: 772px){
  .paper.header h1{
    padding: 15px;
    color: #ffff;
  }
}

.paper.top {
  margin: 5vh 0 5vh 0;
  height: 30vh;
   min-height: 300px;
  background-color: var(--primary);
}

.paper.top h1, .paper.top h3{
  color: #FFFF;
  padding: 2vh;
}

.paper.top.sideBar{
  background-color: var(--secondary);
}

.paper.body.main {
  height: 30vh;
  min-height: 300px;
  background: var(--primary);
  text-align: center;
  overflow: hidden;
}

.paper.body h5 {
  text-align: left;
  color: white;
  padding: 1vw 1.5vw 1vw 1.5vw;
  line-height: 1.2;
}
.paper.body.header {
  height: 5vh;
  padding-top: 0.5vh;
  min-height: 48px;
  /* line-height: 10px; */
  /* box-shadow: 0px 0px 5px rgba(100,100,100,0.5); */
  border: none;
  background-color: var(--secondary);
  color: #FFFF;
}
.paper.body.header h2 {

}
/* .triangle{
  width: 0;
  margin-top: 20%;
  height: 0;
  border-left: 10vh solid transparent;
  border-right: 10vh solid transparent;
  border-bottom: 15vh solid var(--primary);
  display: inline-block;
} */

.circle{
  height: 3vh;
  width: 3vh;
  border-radius: 50%;
  background-color: var(--tertiary);
  display: inline-block;
  margin-top: 25%;
  /* border: 3px solid var(--primary); */
}
.paper.side {
  margin: 3vw;
  background: var(--primary);
  padding-bottom: 5vh;
}

.paper.side .header {
  height: 3vw;
  min-height: 44px;
  border-bottom: 1vh;
  background: var(--secondary);
}

.paper.side .header h1 {
  padding-left: 1vw;
  padding-top: 0.5vh;
  color: #fff;
  font-size: 2rem;
}

.paper.side .item {
  opacity: 0.5;
  font-size: 1.5rem;
  color: #ffff;
  height: 5vh;
  min-height: 44px;
  width: 80%;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #ffff;
  margin-left: 1vw;
  cursor: pointer;
  transition: 0.4s;
}

.paper.side .item.selected{
  opacity: 1;
  margin-left: 1.5vw;
}

.menu-text {
    font-size: 1.5rem;
    padding-top: 6%;
}

.searchBar {
  margin-top: 2vh;
  padding: 1vh;
  background-color: #FFFF;
  z-index: 1;
  width: 90%;
  height: 50%;

  border-radius: 0 17px 17px 0;
  border: solid 1px #b6b6b6;
  font-size: 1.5rem;
}


.button {
  text-align: center;
  vertical-align: bottom;
  font-size: 1rem;
  color: #FFFF;
  min-width: 74px;
  margin-top: 2vh;
  border: solid 1px #b6b6b6;
  height: 50%;
  background-color: var(--secondary);
  cursor: pointer;
  outline: none;
}

.button:active {
  transition: 0.1s;
  -webkit-box-shadow: inset 0px 0px 5px #b6b6b6;
     -moz-box-shadow: inset 0px 0px 5px #b6b6b6;
          box-shadow: inset 0px 0px 5px #b6b6b6;
}

.button h4 {
  padding: 0.5vh;
  font-size: 1.2rem;
  margin: 0;
  outline: none;

}

@media(max-height: 772px){
.searchBar {
  margin-top: 15px;
  padding: 8px;
  background-color: #FFFF;
  z-index: 1;
  /* width: 235px; */
  height: 33px;
  border-radius: 0 17px 17px 0;
  border: solid 1px #b6b6b6;
  font-size: 1.5rem;
}

.button{
  text-align: center;
  vertical-align: text-top;
  font-size: 1rem;
  color: #FFFF;
  border: solid 1px #b6b6b6;
  background-color: var(--secondary);
  cursor: pointer;
  outline: none;
  height: 33px;
  margin-top: 15px;

}
.button h4 {
  padding: 0.5vh;
  font-size: 1.2rem;
  margin: 0;
  outline: none;
}
}

.search.row .col-3 {
  padding: 0;
}



.search.row .col-9 {
  padding: 0;
}

input:focus {
outline: none;
}

.dropdown.about {
  margin: 3vw 0 1.5vw 0;
  height: 3vw;
  width: 100%;
  background-color: var(--secondary);
}

.about.product {
  height: 25vw;
  margin: 1.5vw 0 1.5vw 0;
  padding: 1vw;
  cursor: pointer;
  background-color: var(--primary);
}

.image.product {
  width: 100%;
  height: 80%;
  /* display: inline-block; */
}

.footer{
  height: 10vw;
}

.about-enter {
  opacity: 0.01;
  /* transform: scale(1.1); */
}

.about-enter-active {
  opacity: 1;
  /* transform: scale(1); */
  transition: all 200ms;
}

.about-exit {
  opacity: 1;
  /* transform: scale(1); */
}

.about-exit-active {
  opacity: 0.01;
  /* transform: scale(1.1); */
  transition: all 200ms;
}

.home-enter {
  opacity: 0.01;
  /* transform: scale(1.1); */
}

.home-enter-active {
  opacity: 1;
  /* transform: scale(1); */
  transition: all 200ms;
}

.home-exit {
  opacity: 1;
  /* transform: scale(1); */
}

.home-exit-active {
  opacity: 0.01;
  /* transform: scale(1.1); */
  transition: all 200ms;
}

.item {
  color: #FFFF;
}

.muted{
  opacity: 0.5;
}

.product.page.pic{
  width: 100%;
  height: 40vh;
}

.padding.row {
  padding-top: 3vw;
}
.description{
  width: 30vw;
  height: 20vh;
}
.fileInput
{  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;}

.imgPreview
  {text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;}
  img{
    width: 100%;
    height: 100%
  }
.previewText{
  width: 100%;
  margin-top: 20px;
}

.submitButton{
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}

.centerText
{  text-align: center;
  width: 500px}
